RewriteEngine On
RewriteRule ^api/v1/on-covid-19/?$ index.php [NC]
RewriteRule ^api/v1/on-covid-19/json?$ index.php [NC]
RewriteRule ^api/v1/on-covid-19/xml?$ index.php [NC]
RewriteRule ^api/v1/on-covid-19/logs?$ index.php [NC]
